/** variable de color*/
$color-1: #DF01A5;

/*mixin */
@mixin boton{
  background: $color-1;
  color: #fff;
  width: 200px;
  height: 40px;
  border: 2px solid $color-1;
  font-size: 14px;
  transition: 0.2s;
}
